@import "../../../../../utilities/variables.scss";

.main-container{
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
    display: flex;
    .table-container,.history-container{
        width: 100% !important;
        height: 100%;
        overflow: auto;
        background-color: rgba(5, 5, 5, 0.829);
        color: white;
        font-size: 14px;    
    }
    .table-container{
        display: flex;
        padding: 30px 60px;
        box-sizing: border-box;
        table{
            width: 700px;
            margin: 15px auto auto auto;
            border-collapse: collapse;
            border: 1px solid rgba(121, 121, 121, 0.781);
            td,th{
                width: 200px;
                text-align: left;            
                height: 30px;
                
                border-bottom: 1px solid rgba(204, 204, 204, 0.329);
                padding:15px 12px;
                box-sizing: border-box;
                .price{
                    width:80px;
                    height:20px;
                    line-height:20px;
                    padding:8px;
                    text-align:center;
                    border:2px solid transparent;
                    
                }
                .red{
                    color: $red !important;
                }
                .green{
                    color: $green !important;
                }
            }
            th{
                background-color: black;
                height: 40px;
                font-family: sans-serif;
                border: none;
            }
            td:last-child{
                width: 240px;
            }
            .increased{
                border:2px solid $green !important;
                -webkit-animation: toggleGreen 1s;
            }
            .decreased{
                border:2px solid $red !important;
                -webkit-animation: toggleRed 1s;
            }
            .new-data{
                border:2px solid white !important;
                -webkit-animation: toggleWhite 1s;
            }

            @-webkit-keyframes toggleGreen{
                0% {background-color: transparent}
                50% {background-color: $green;}
                100% {
                    background-color: transparent;
                    border:2px solid $green;
                }
            }
            @-webkit-keyframes toggleRed{
                0% {background-color: transparent}
                50% {background-color: $red}
                100% {
                    background-color: transparent;
                    border:2px solid $red;
                }        
            }
            @-webkit-keyframes toggleWhite{
                0% {background-color: transparent}
                50% {background-color: white;color: black;}
                100% {
                    background-color: transparent;
                    border:2px solid white;
                }        
            }
            
        }
    }
}

@media screen and (max-width:1080px) and (min-width:891px){
    .main-container{
        font-size: 12px;
        .table-container,.history-container{
            font-size: 12px;
            padding: 15px 15px;
            td{
                height: 30px;
                line-height: 30px;
                padding: 4px 8px !important;
            }
        }
    }
}

@media screen and (max-width:890px){
    .main-container{
        font-size: 12px;
        .hide-completely{
            display: none;
        }
        .table-container,.history-container{
            font-size: 12px;
            padding: 15px 15px;
            td{
                height: 30px;
                line-height: 30px;
                padding: 4px 8px !important;
            }
        }
    }
}