<div class="history-content"  #tableDiv>
    <div style="color: white" class="close-history">
        <button (click)="hideHistory()" class="close-button">Close History</button>
    </div>
    <div class="ticker-header" >
        <span>Ticker History - {{selectedTickerHistory[0] | uppercase}}</span>
        <span (click)="toggleTableView()">{{toggleTableText}}</span>
    </div>
    <div  class="table-container" *ngIf="hideTable" >
        <table border="1">
            <tr>
                <th>Price</th>
                <th>TimeStamp</th>
                <th>Difference</th>
            </tr>
            <tr *ngFor="let items of selectedTickerHistory[1];let j = index">
                <td [class]="items[2]<0?'red':'green'">{{items[0]}}</td>
                <td>{{items[1] | date:'medium'}}</td>
                <td [class]="items[2]<0?'red':'green'" >
                    <span *ngIf="items[2]">{{items[2]}} % </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="graph-header">
        <span >Graph View</span>
        <button (click)="graphView()">Refresh</button>
        <span (click)="toggleGraphView()" >{{toggleGraphText}}</span>
    </div>
    <fusioncharts *ngIf="hideGraph"
    [width]="graphWidth"
    [height]="graphHeight"
    [type]="graphType"
    [dataFormat]="dataFormat"
    [dataSource]="graphData">
</fusioncharts>
</div>




